version: 2.1
orbs:
  node: circleci/node@2.1.0

jobs:
  build-test-and-deploy:
    executor:
      name: node/default
     
      build:
        steps:
          - checkout
      acceptance_test_1:
        steps:
          
          - run:
              command: npm install
              working_directory: ./server
           - run:
              command: npm test
              working_directory: ./server
     acceptance_test_2:
      steps:
        - run:
           command: npm install
           working_directory: ./client
        - run:
            command: npm test
            working_directory: ./client
      
          
workflows:
    build-test-and-deploy:
      jobs:
        - build
        - acceptance_test_1:
            requires:
                - build
        - acceptance_test_2:
            requires:
                - build
        
         
