version: 2.1
orbs:
  node: circleci/node@2.1.0
jobs:
  build-and-test:
    executor:
      name: node/default
    steps:
      - checkout
      - node/install-packages:
          app-dir: ./server
      - run: cp ./server/package.json ./
      - run: cp -r ./server/tests ./
      - run: cp -r ./client/src/containers/App ./
      - run: npm install
      - run: npm test
workflows:
    build-and-test:
      jobs:
        - build-and-test
