version: 2.1
orbs:
  node: circleci/node@2.1.0

  build-test-and-deploy:
    executor:
      name: node/default
    jobs: 
      build:
      - checkout
      acceptance_test_1:
        steps:
          - node/install-packages:
              app-dir: ./server
          - run:
              command: npm install
              working_directory: ./server
           - run:
              command: npm test
              working_directory: ./server
     acceptance_test_2:
      steps:
        - run:
           command: npm install
           working_directory: ./client
        - run:
            command: npm test
            working_directory: ./client
      
          
workflows:
    build-test-and-deploy:
      jobs:
        - build
        - acceptance_test_1:
            requires:
                - build
        - acceptance_test_2:
            requires:
                - build
        
         
